@{
    ViewBag.Title = "Employment";
}

@using System.Data;
@using System.Web.UI.WebControls;
@using System.Web.Script.Serialization;
@{
    JavaScriptSerializer javaSerial = new JavaScriptSerializer();
    if (Session["returnedJSON"] == null)
    {
        return;
    }
    var employment = Session["returnedJSON"].ToString();

}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<style>
    table, th, td {
        border: 2px solid black;
    }

    #employDiv, #coopDiv {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1, h2, #b1, #c1, #d1, #e1, #f1{
        text-align: center;
    }
</style>
<script type="text/javascript">


    $(document).ready(function () {
        var e = @Html.Raw(javaSerial.Serialize(employment));



        var htmlContent = '';
        var htmlContent2 = '';
        var employmentJSON = JSON.parse(e);
        var htmlContent3 = '';
        var htmlContent4 = '';
        var htmlContent5 = '';

        $('#a').html(employmentJSON.introduction.title);
        $('#f').html(employmentJSON.introduction.content[0].title);
        $('#f1').html(employmentJSON.introduction.content[0].description);
        $('#b').html(employmentJSON.introduction.content[1].title);
        $('#b1').html(employmentJSON.introduction.content[1].description);
        $('#c').html(employmentJSON.degreeStatistics.title);
        
        $.each(employmentJSON.degreeStatistics.statistics, function (i, item) {
            htmlContent3 +='<p>'+ item.value + "-" + item.description +'</p>';
        });
        $('#c1').html(htmlContent3);
        $('#d').html(employmentJSON.employers.title);
        $.each(employmentJSON.employers.employerNames, function (i, item) {
            htmlContent4 +='<p>'+item+'</p>';
        });
        $('#d1').html(htmlContent4);
        $('#e').html(employmentJSON.careers.title);
        $.each(employmentJSON.careers.careerNames, function (i, item) {
            htmlContent5 +='<p>'+item+'</p>';
        });
        $('#e1').html(htmlContent5);

        $.each(employmentJSON.employmentTable.professionalEmploymentInformation, function (i, item) {
            console.log(i);

            console.log(item);

            htmlContent += "<tr><td>" + item.employer + "</td><td>" + item.degree + "</td><td>" + item.city + "</td><td>" + item.title + "</td><td>" + item.startDate + "</td></tr>";
          
            htmlContent += '</ul></div>';

            $('#employDiv').html(htmlContent);
        });

        $.each(employmentJSON.coopTable.coopInformation, function (i, item) {
            console.log(i);

            console.log(item);

            htmlContent2 += "<tr><td>" + item.employer + "</td><td>" + item.degree + "</td><td>" + item.city + "</td><td>" + item.term + "</td></tr>";
           
            htmlContent2 += '</ul></div>';

            $('#coopDiv').html(htmlContent2);



        });








});

</script>

<h1>Employment</h1>

<h2 id="a"></h2>
<div id="a1"></div>
<h2 id="f"></h2>
<div id="f1"></div>
<h2 id="b"></h2>
<div id="b1"></div>
<h2 id="c"></h2>
<div id="c1"></div>
<h2 id="d"></h2>
<div id="d1"></div>
<h2 id="e"></h2>
<div id="e1"></div>

<h2>Employment Table</h2>

<div id="employDiv">


</div>

<h2>COOP Table</h2>
<div id="coopDiv">


</div>
